.services {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  //   align-items: center;
  justify-content: space-between;
  margin-bottom: 0;

  @media (min-width: 768px) {
    gap: 3.5rem;
  }
  .textContainer {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 2rem;

    p {
      font-size: clamp(10px, 3vw, 25px);
      color: gray;
      text-align: right;
    }

    hr {
      width: clamp(50px, 15vw, 500px);
      border: none;
      border-top: 0.5px solid gray;
    }
  }
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    .title {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: clamp(100px, 30vw, 250px);
        height: clamp(20px, 12vw, 70px);
        border-radius: 50px;
        object-fit: cover;
      }

      h1 {
        font-size: clamp(20px, 6vw, 50px);
        font-weight: 100;
        white-space: nowrap;
      }

      button {
        width: clamp(70px, 30vw, 200px);
        height: clamp(10px, 10vw, 35px);
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: clamp(8px, 4vw, 22px);
        cursor: pointer;
        color: gray;
        color: black;
      }
    }
  }
  .listContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .box {
      padding: clamp(30px, 6vw, 50px);
      //   border: 0.1px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;

      button {
        border: none;
        padding: 8px;
        background-color: orange;
        cursor: pointer;
        font-size: clamp(8px, 4vw, 18px);
        color: black;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}
