.portfolio {
  position: relative;
  margin-top: 0;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: clamp(100px, 40vh, 35px);
    font-size: clamp(10px, 4vw, 35px);
    text-align: center;
    color: orange;
    z-index: 999;

    .progressBar {
      height: 5px;
      border-radius: 10px;
      background-color: #fff;
      margin-bottom: 1rem;
    }
  }
  section {
    border-radius: 10px;
    border: 0.5px solid grey;
    height: 70vh;
    @media screen and (max-width: 900px) {
      height: 50vh;
    }
    padding: 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      gap: 4rem;
      overflow: hidden;

      .imageContainer {
        flex: 1;
        height: 80%;

        @media screen and (max-width: 900px) {
          height: 100%;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        padding: 0.6rem;

        h2 {
          font-size: clamp(1.6rem, 4vw, 3.5rem);
        }
        p {
          color: grey;
          font-size: clamp(1rem, 2vw, 1.5rem);
        }
        button {
          background-color: orange;
          border: none;
          border-radius: 10px;
          padding: 1rem;
          width: clamp(10rem, 25vw, 18rem);
          font-size: clamp(1rem, 2vw, 1.5rem);
          cursor: pointer;
          color: black;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .section__padding {
      padding: 2rem 2rem;
    }

    .section__margin {
      margin: 3rem 2rem;
    }

    section {
      height: 80vh;
      .container {
        flex-direction: column;
        gap: 2rem;
        height: 100%;
        .imageContainer {
          border: 2px solid yellow;
          flex: 1;
          height: 50%;
          width: 100%;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .textContainer {
          border: 2px solid yellow;

          flex: 1;
          padding: 1.2rem 0;
        }
      }
    }
  }
  @media screen and (max-width: 468px) {
    .section__padding {
      padding: 4rem 1.5rem;
    }

    .section__margin {
      margin: 4rem 1rem;
    }

    .progress {
      .progressBar {
        margin-top: 1rem;
      }
    }

    section {
      height: 90vh;
      .container {
        padding: 1rem 0;
        
        height: 100%;
        gap: 1rem;
        .imageContainer {
          height: 50%; //
          width: 100%;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .textContainer {
          flex: 1;
          //   height: 40vh;
          padding: 1.2rem 0;
          gap: 1rem;

          button {
            ///
            margin-bottom: 3.5rem;
          }
        }
      }
    }
  }
}
